/* src/components/LoginSignup.css */

.login-signup-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #000;
    border: 2px solid #39ff14; /* Neon green border */
    padding: 20px;
    width: 300px;
    color: white;
    text-align: center;
    border-radius: 8px;
  }
  
  .close-button {
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-link {
    color: #39ff14;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  }
  